.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  overflow: auto;
  z-index: 1;
  min-height: 100vh;
  width: calc(100% - 250px);
  margin-left: 250px;
}

/* Main content container should be visible */
#root, body, html {
  height: 100%;
  overflow: auto;
}

/* Home page specific styles */
.home-container {
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 20px;
}

@media (max-width: 960px) {
  .content {
    width: 100%;
    margin-left: 0;
  }
} 